<!DOCTYPE html>
<html>
<head>
<title>Select similar image</title>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style type="text/css">
input.uploadImage {
  display: block;
}
</style>

</head>
<body ng-app="searchImage" ng-controller="myCtrl">

<div >
  <form>
  <!-- I don't know how to change the style of the default image uploading button, so I use a faked one -->
    <!-- <input type="file" ng-model="imageFile"> -->
    <input type="file" class="uploadImage" ng-model="image" onchange="angular.element(this).scope().file_changed(this)" accept="image/*" ng-show="!hidden">
    <img ng-src="{{image}}" alt="Japanese Cartoon" height="200px" width="200px">
    <div style="display: block;"><a href="#searchResult"><button ng-show="!hidden" ng-click="myFunc()">Search</button></a></div>
    <!-- <button ng-click="myFunc()">Search</button> -->
  </form>
  <!-- <div ng-show="hidden">You have clicked the Search button!</div> -->
  
  <div ng-view></div>
</div>




<script>
var app = angular.module("searchImage", ["ngRoute"]); 

app.controller("myCtrl", function($scope) {
  $scope.image = 'timg.jpeg';
  $scope.imgArray = new Array();

  $scope.imgArray = [
    "kid1.jpg",
    "kid2.jpg",
    "kid3.jpg",
    "kid4.jpg",
    "kid5.jpeg",
    "kid6.jpg"
  ];
  $scope.hidden = false;
  $scope.myFunc = function() {
    $scope.hidden = !$scope.hidden; 
  }

  $scope.file_changed = function(element) {
    var photofile = element.files[0];
    var reader = new FileReader();
    reader.onload = function(e) {
        $scope.$apply(function() {
            $scope.image = e.target.result;
        });
    };
    reader.readAsDataURL(photofile);
  };
});

app.config(['$routeProvider', function($routeProvider) {
    $routeProvider
    .when("/", {
        templateUrl : ""
    })
    .when("/searchResult", {
        // templateUrl : "result.html"
        template : "<table><caption>Searching Result about this image</caption><tr ng-repeat=\"x in imgArray\"><td><img ng-src=\"{{x}}\" height=\"200px\" width=\"300px\"></td></tr></table><div><button><a href=\"index.html\" ng-click=\"myFunc()\">Back</a></button></div>"
    });
}]);

</script>

</body>
</html>
